<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="QuestionText" value="Question:" />
    <add key="AnswerText" value="Answer(s):" />
    <!-- All Regular Expressions are stored here. This can be changed. -->
    <!-- This gets the content up to the first question -->
    <add key="ExamIntroTextUpToFirstQuestion" value="([\s\S]*?)(?=^question[\s]{0,}: |$(?![\r\n]))" />
    <!-- This gets the entire question including answer, reference, explanation etc... -->
    <add key="QuestionBlockRegex" value="(^question?:[\s]{0,}\d{1,}.*)([\s\S]*?)(?=^question[\s]{0,}: |$(?![\r\n])|(?=^## PART)|(?=^# Topic:)|(?=^Exam Set[\s]{0,1}:))" />
    <!-- This gets the Question and its corresponding number -->
    <add key="QuestionRegex" value="^question?:[\s]{0,}\d{1,}.*" />
    <!-- This gets Question body -->
    <add key="QuestionBodyRegex" value="(^question?:[\s]{0,}\d{1,}.*)([\s\S]*?)(?=^[A-L]\.|^answer\(s\)?:)" />
    <!-- This gets the possible answer options ie. A.some text here , B. some text here -->
    <add key="PossibleAnswersRegex" value="(^[A-L][\s]{0,}\.)([\s\S]*?)(?=(^[A-L]\.)|(^^answer\(s\)?:))" />
    <!-- This gets the correct answer -->
    <add key="CorrectAnswersRegex" value="(^answer\(s\)?:[\s]{0,})([\s\S]*?)(?=(^question[\s]{0,1}:|^reference[s]{0,1}[\s]{0,1}:|^explanation[\s]{0,1}:)|$(?![\r\n]))" />
    <!-- This gets the reference if any -->
    <add key="ReferenceRegex" value="(^reference[s]{0,}:[\s]{0,})([\s\S]*?)(?=(^question[\s]{0,1}:|^explanation[\s]{0,1}:)|$(?![\r\n]))" />
    <!-- This gets the Explanation section, if any-->
    <add key="ExplanationRegex" value="(^explanation:[\s]{0,})([\s\S]*?)(?=(^question[\s]{0,1}:|^reference[\s]{0,1}:)|$(?![\r\n]))" />
    <!-- This is added to the img tag as attribute -->
    <add key="ImageAttributeTag" value="imageViewer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ConnectionString" value="DB\sample.exm" />
    <add key="DbPassword" value="WpPrYh99$qktn" />
    <add key="FolderPathToProcess" value="D:\OneDrive\X-Files\Amazon" />
  </appSettings>
</configuration>